* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "open-sans", "adobe-caslon-pro", sans-serif;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-thumb {
  background-color: rgba(23, 21, 26, 0.75); }

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25); }

h1, h2, h3, h4, h5 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: 800; }

h1 {
  font-size: 51px;
  color: #14151c; }

@media (max-width: 800px) {
  h1 {
    line-height: 70px; } }

h2 {
  font-size: 36px;
  color: #14151c; }

@media (max-width: 800px) {
  h2 {
    line-height: 45px; } }

h3 {
  font-size: 28px;
  color: #14151c; }

h4 {
  font-size: 23px;
  color: #14151c; }

h5 {
  font-size: 21px;
  color: #E4CF09; }

h5.big {
  font-size: 25px; }
  h5.big span.normal {
    color: #14151c; }

button, a.button {
  outline: 0;
  border: 0;
  font-family: "open-sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 40px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #F2DE22;
  color: #000000;
  transition: all 0.2s ease; }
  button:hover, a.button:hover {
    background-color: #E4CF09; }

.thin {
  font-weight: 400; }

p {
  font-family: "open-sans", sans-serif;
  font-size: 17px;
  line-height: 25px; }

p.small {
  font-size: 16px; }

p.big {
  font-weight: 600;
  font-size: 19px; }

.spaceTop {
  padding-top: 15px; }

.alignRight {
  text-align: right; }

ul {
  font-weight: 600;
  margin-left: 20px; }
  ul li {
    padding-top: 15px; }

a {
  font-family: "open-sans", sans-serif;
  text-decoration: none;
  color: inherit; }

.borderBlack {
  border: 1px solid #14151c; }

.current::before {
  background-color: #F2DE22 !important; }

.active a {
  color: #4141DA; }
  .active a svg path {
    stroke: #4141DA;
    color: #4141DA; }
